*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  
}
body{
    background:#F5F5F5;
    
    
}



.container{
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    margin-left: 1px;

   
border: 2px solid grey;
    align-items: center;
   
    
}
.main-box{
    
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    margin-left: 1px;

   
border: 2px solid grey;
    align-items: center;
   
    
}
.header{
    left: 0;
    right: 0;
    top:0;
    border: 2px solid grey;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    position: relative;
    background: black;
}

.header h1{
    padding: 10px 0px 10px 50px;
    font-weight: 500;
    color: white;
    font-size: 25px;
    
    
}
#name{
  position: absolute;
  margin-top: 0;
  margin-left: 1000px;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
  top: 0;
  font-size: 14px;
  
}
#mail{
  position: absolute;
  margin-top: 0;
  margin-left: 1200px;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
  top: 0;
  font-size: 14px;
  
}




.menu{
    width: 100%;
    margin-top: 0px;
    
    
    align-items: center;
    height: 20px;
display: flex;
flex-direction: row;

border-bottom: none;
}
.menu img{
    width: 30px;
    height: 40px;
    padding: 8px;
    margin-top: 5px;

    border-radius: 50%;
    cursor: pointer;
}
.menu h2{
    font-size: 18px;
    font-weight: 500;
    padding-left: 550px;
    color: black;

}
#menu-options{
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius:5px ;
    border: 2px solid black;
    margin-top: 470px;
    margin-left: -660px;
    z-index: 200;
    transform: translate(0.5s);
    visibility:hidden;
    z-index: 200;
   
   
}
 .menu-visible{
   
    visibility: visible;
   
}
#menu-options ul li{
    list-style: none;
    
}
#menu-options ul a{
    text-decoration: none;
   
    
}
#menu-options ul li p{
    padding: 30px 20px 20px 20px;
    font-size: 20px;
}
#menu-options ul li p:hover{
    background-color: black;
    color: red;
    display: block;
}
#menu-options span{
    padding-left: 270px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}
.container-scroll{
    overflow-y: hidden;
    
}
.available-leaves h3{
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 0;
    text-align: center;
}
.row-1{
    width: 870px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid grey;
    margin: 30px;
    background: skyblue;
    
    
    
   
}
.column-1{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  20px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}
.column-2{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  310px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}
.column-3{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  570px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}
.column-4{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  570px;
    margin-top: 450px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}
.column-5{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  310px;
    margin-top: 450px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}
.row-2{
    width:200px;
    height: 100px;
    display: flex;
    margin-left:  20px;
    margin-top: 450px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid grey;
    flex-direction: row;
    background: aliceblue;
    position: absolute;
    
}

.leave-type{
    font-size: 30px;
    font-weight: 500;
    padding: 5px 0px 10px 20px ;
}
.categories{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.categories h5{
    padding:25px;
    font-weight: 700;
}
.available-leaves label{
    width: 50px;
    border-radius: 50%;
    background: blue;
    height: 30px;
    color: white;
    margin: 10px 12px 5px 9px;
    padding: 5px;
}
.available-leaves label:nth-child(3){
    background: black;
}
.available-leaves label:nth-child(4){
    background: skyblue
}
.types{
    width: 100%;
    height: 10px;
    margin: 80px 10px 5px -168px;

    display: flex;
    align-items: center;
    flex-direction: row;
}
.types span{
    padding: 20px 22px 12px 18px;
}
.box-2{
    
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid grey;
    margin: -340px 30px 10px 980px;
    background: skyblue;
    position:absolute;
    overflow: hidden;
}
.box3{
    
    width: 870px;
    height: 240px;
    border-radius: 5px;
    border: 2px solid grey;
   top:430px;
   left: 25px;
    background: skyblue;
    position:absolute;
}
.box4{
    
    width: 500px;
    height: 240px;
    border-radius: 5px;
    border: 2px solid grey;
   top:430px;
   left: 975px;
    background: skyblue;
    position:absolute;
}
.calendar {
    max-width: 330px;
    margin: 0 5px 0px 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .calendar a{
    color: red;
    text-decoration: none;
  }
  .days-box{
    width: auto;
    height: 250px;
    margin: 0px 5px 0px 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 0px 5px 6px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
   
    
  }
  .days{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    width: 100%;
    height: 30px;
    margin: 0px 2px 10px 0px;
  }
  .days span{
  
    
    padding: 6px 3px 6px 14px;
font-size: 12px;
   
   color: red;
   
   
  }
  .dates{
   
    
    border-radius: 3px;
    border: 2px solid white;
    
    display: grid;
     grid-template-columns: repeat(7, 1fr);
     gap: 5px;
     
     justify-content: center; 
     cursor: pointer;
     transition: transform 0.5s;
     color: black;
    
     padding-top: 0px;
     margin-bottom:50px;
  }
  .dates:nth-of-type():hover{
    color:red;
  }
  
 
  .dates span{
    padding: 6px 6px 3px 10px;
  }
  
  .leave-records{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  
    flex-direction: row;
    margin-top: 20px;
    height: 10px;
    
  }
  #leaveid-header {
   
    
    padding: 20px 15px 0px 30px;
    text-wrap: nowrap;
  
    
  }
  #leaveid-header {
   
    
    padding: 20px 15px 0px 30px;
    text-wrap: nowrap;
  
    
  }
  #leaveid-header {
   
    
    padding: 20px 15px 0px 30px;
    text-wrap: nowrap;
  
    
  }
  #leavetype-header {
   
    
    padding: 20px 10px 0px 20px;
    text-wrap: nowrap;
  
    
  }
  #leavedays-header {
   
    
    padding: 20px 15px 0px 30px;
    text-wrap: nowrap;
  
    
  } #leavedate-header {
   
    
    padding: 20px 60px 0px 50px;
    text-wrap: nowrap;
  
    
  }
 #leavereason-header {
   
    
  padding: 20px 90px 0px 10px;
  text-wrap: nowrap;

}
   #leavestatus-header {
   
    
    padding: 20px 35px 0px 5px;
    text-wrap: nowrap;
  
    
  }
  #manager-header {
   
    
    padding: 20px 20px 0px 5px;
    text-wrap: nowrap;
  
    
  }
  .box3 h4{
    font-size: 16px;
padding-left: 10px;
padding-top: 10px;
  }
  .leaveRecordDiv {
     /* Set a fixed height for each row */
    /* Add vertical scrolling */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    padding: 20px 25px 5px 30px;
    text-align: left;
}
.leaveRecordDiv p {

 font-size: 12px;
}
.leave-history{
  overflow-y: scroll;
  height: 140px;
  margin-top: 20px;
}



  
 /* Style for each row */


/* Style for each leave record */






  
  #leaveType{
    font-size: 14px;
    padding: 5px 0px 10px 110px;
text-align: left;
  }
  #leaveid{
    font-size: 14px;
    padding: 5px 0px 10px 5px;
text-align: left;
  }
  #numberOfDays{
    font-size: 14px;
    padding: 5px 0px 10px 140px;
text-align: left;
  }
  #date{
    font-size: 14px;
    padding: 5px 0px 10px 100px;
text-align: left;
text-wrap: wrap;
  }
  #reasonforleave{
    font-size: 14px;
    padding: 5px 0px 10px 30px;
text-align: left;
  }
  #leaveStatus{
    font-size: 14px;
    padding: 5px 0px 10px 75px;
text-align: left;
  }
  #manager{
    font-size: 14px;
    padding: 5px 0px 10px 90px;
text-align: left;
  }


 
  .inputfields{
    max-width: 98%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
   
display: flex;
border-radius: 10px;
border: 2px solid black;

flex-direction: row;
padding: 30px 30px 50px 50px;
   

  } 
  .inputfields span{
    padding: 30px 5px 30px 5px;
   
  }
  .inputfields input{
   
    width: 200px;
    height: 20px;
    margin: 50px 20px 30px 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    
    
  }
  #startDate{
    cursor: pointer;
   color: red;
   padding: 10px;
  }
  #endDate{
    cursor: pointer;
   color: red;
   padding: 10px;
  }
  
  /* Target the default calendar icon */
  #startDate::-webkit-calendar-picker-indicator {
  /* Change color */
  width: 20px;
  /* Change height */
  height: 30px;
  margin-top: 10px;
  /* Adjust other properties as needed */
}
#endDate::-webkit-calendar-picker-indicator {
  /* Change color */
  width: 20px;
  /* Change height */
  height: 30px;
  margin-top: 10px;
  /* Adjust other properties as needed */
}
#startDate::-webkit-calendar-picker-indicator:hover::before {
  background-color: yellow; /* Change the background color of the hovered date */
  color: black; /* Change the text color of the hovered date */
}
  .typesofleaves {
    width: 80pxpx;
    margin: 30px 40px 50px 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid black;
  }
  #days {
    width: 80px;
    margin: 30px 40px 40px 50px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid black;
  }
  #reason{
    width: 100%;
    height: 50px;
    margin: 20px 20px 30px 10px;
    
  }
  .addtoqueue{
    width: 80%;
    height: 100px;
    margin: 60px 20px 20px 10px;
    border-radius: 10px;
    border: 2px solid black;
    overflow-y: scroll;
  }
  #submit{
    width: 60px;
    height: 30px;
    margin: 90px 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color:black ;
    color:white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
  }
  #cancel{
    width: 80px;
    height: 30px;
    margin: 90px 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color:white;
    color:black;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
  }
  .footer{
    width: 100%;
    margin-top: 300px;
    background-color: black;
    height: 35px;

  }
  .footer p{
    color:white;
    padding: 10px;
    text-align: center;
  }