*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --body-color:#efefef;
  --nav-color:#1876f2;
  --bg-color:#fff;
}
body{
    background:var(--body-color);
    font-family: 'poppins',sans-serif;
    transition: background 0.3s;
}
.darkbackground-theme{

  --body-color:#0a0a0a;
  --nav-color:#000;
  --bg-color:#000;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
background:var(--nav-color);
top:0;
position: sticky;
z-index: 200;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
    
    padding: 5px 5%;
}


.logo{
    width: 160px;
    margin-right: 45px;
}

.nav-left ul li{
    list-style: none;
    display:inline-block
}
.nav-left ul li img{
    width: 28px;
    margin: 0px 15px;
}
.search-icon{
    width:20px;
    

}


.nav-usericon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

  .search-icon{
    width: 18px;

  }
  .search-box{
    background: var(--bg-color);
    display: flex;
      align-items: center;
      width: 350px;
      border: 0;
     padding: 0 15px;
      border-radius: 20px;
  }
  .search-box input{
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    padding: 10px;
  }
  .nav-usericon {
    margin-left: 30px;
  }
  .online{
    position: relative;
  }
  .online::after{
    content: "";
    background: #41db51;
    border: 2px solid #fff;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    top:0;
    right: 0;

  }
  .container{
    
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    
    
  }
  .left-sidebar{
    display: flex;
    position: sticky;
    top:70px;
    
    flex-basis:25%;
    align-self: flex-start;
    
    
    
  }
  .right-sidebar{
    
    position: sticky;
    
    top:70px;
    flex-basis:25%;
    align-self: flex-start;
    
    padding: 20px;
    border-radius: 4px;
    background-color:var(--bg-color);
    color: #626262;
    
  
  }
  
.main-content{
 
  flex-basis:44%;
}
.imp-links a{
  display: flex;
  align-items: center;
  text-decoration:none ;
  margin-bottom: 30px;
  color: #626262;
width: fit-content;

}
.imp-links{
  height: 310px;
}
.imp-links a img{
  width: 25px;
  margin-right: 30px;
  margin-left: 10px;

}

.imp-links a:last-child{
  color: var(--nav-color);
}
.imp-links {
  border-bottom: 1px solid #ccc;
}

.shortcut-links {
  margin-top: 320px;
  margin-left: -140px;
}

.shortcut-links a {
  
 
  text-decoration:none ;
  padding: 10px 0px 0px 0px;
  color: #626262;
width: fit-content;
display: flex;
align-items: center;



}
.shortcut-links a img{
  width: 40px;

margin-right: 15px;
  

}
.shortcut-links p{
  margin: 25px 0px;
  color: #626262;
  font-weight: 500;
}
.sidebar-title{
  display: flex;
  
  justify-content: space-around;
  
  flex-direction: row;
  padding-top: 10px;
  
}
.sidebar-title h4{
  font-weight: 600;
  font-size: 16px;
  
}
.sidebar-title a{
  text-decoration: none;
  font-size: 12px;
  margin-left: 200px;
  color: var(--nav-color);
  text-wrap: nowrap;
 
 

}
.event{
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
  flex-direction: column;
  
  
 
}
.left-event{
  
  position: relative;
  
  width: 65px;
  
  border-radius: 10px;
  height: 65px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  overflow: hidden;
  margin-left: 10px;
  
  
  
 
}

.right-event{
  
  position: relative;
  
  text-align: center;
  margin-right: 70px;
  margin-top: -40px;
  
 
}



.right-event a{
  font-size: 12px;
  text-decoration: none;
  color: var(--nav-color);
}
.right-event  p{
  font-size: 12px;
}

.left-event2 h3{
  font-weight: 600;
  font-size: 16px;
 
  
  
  
}
.left-event span{
  position: absolute;
  bottom: 0;
left: 0;
  font-size: 10px;
  padding: 4px 0px;
  color: #fff;
  width: 100%;
  background:var(--nav-color);

  
  
  
}

.sidebar-ads{
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.online-list{
  display: flex;
  align-items: center;
  
  margin-bottom: 20px;
  
}
.online-list h4{
  font-weight: 600;
  font-size: 16px;
  
}
.online-list a{
  text-decoration: none;
  font-size: 12px;
  margin-left: 200px;
  color: #1876f2;
  text-wrap: nowrap;
 
 

}

.online-friends{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 250px;

 flex-direction: column;
}
.online-friends .online{
  width: 40px;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 5px;
  display: flex
}
.online-friends .online::after{
  top:unset;
  bottom: 3px;
  
}
.online-friends .online img{
  width: 40px;
  border-radius: 50%;
  
  
}
.online-friends .online p{
  text-wrap: nowrap;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}
.story-gallery{
  display: flex;
  
  align-items: center;
  flex-direction: row;
  
}
 .story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
 
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 15px;
  
 
}
 .story img{
  position: absolute;
  width: 45px;
  top:10px;
  left: 10px;
  
  border-radius: 50%;
  border: 5px solid #1876f2;
}
.story p{
  position: absolute;
  width: 100%;
  font-size: 14px;
  bottom: 10px;
  text-align: center;
  color: #fff;
}
.story-1{
  background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./assets/status-1.png); ;
}
.story-2{
  background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./assets/status-2.png); ;
}
.story-3{
  background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./assets/status-3.png); ;
}
.story-4{
  background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./assets/status-4.png); ;
}
.story-5{
  background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./assets/status-5.png); ;
}
.story-1 img{

  top:unset;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.write-post-container{
  background: var(--bg-color);
  padding:  20px;
  border-radius: 6px;
  color:#626262;
  margin-top: 20px;

}

.user-profileicon img{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
 
}
.user-profileicon {
  display: flex;
  align-items: center;
  
}

.user-profileicon span{
  font-size: 13px;
}
.write-post-container  p{
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
 
}
.write-post-container  small{
  font-size: 12px;
  margin-right:5px ;
  
}
.write-post-container i{
  margin-top: 20px ;
  cursor: pointer;
  
}

.post-input-container textarea{
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
  background: transparent;
  width: 100%;
  padding: 20px 0px 20px 45px;
 
}
.post-input-container textarea{
  resize: none;
}
.add-post-links{
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}
.add-post-links a{
  text-decoration: none;
  font-size: 13px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.add-post-links a img{
  width: 20px;
  margin-right: 10px;
}
.post-container{
  background: var(--bg-color);
  
  border-radius: 6px;
  color:#626262;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  
  
}
.post-container p{
 
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
}
.post-img{
  width: 100%;
  border-radius: 5px;
}

.activity-icons{
  display: flex;
  align-items: center;
  
}
.activity-icons div img{
  width: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
}


.load-more{
 display: block;
  border-radius: 4px;
  margin: auto;
  border: 1px solid #9a9a9a;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
}
.settings-menu{
  position: absolute;
  max-height: 0;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  right: 7%;
  top:108%;
  border-radius: 4px;
  box-shadow: 9px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 200;
  overflow: hidden;
  transition: max-height 0.3s;
}
.settings-menu-height{
  max-height: 450px;
}
.user-profileicon a{
  text-decoration: none;
  font-size: 12px;
  color: #1876f2;
}
.settingsmenu-links{
  padding: 20px;
}
.settings-menu hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0px;
  
}
.settings-links{
 margin-right: 10px;
 display: flex;
 align-items: center;
 
  
}
.settings-links .setting-icon{
  width: 38px;
  border-radius: 50%;
  margin: 15px ;
}
.settings-links a{
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: #626262;
  
   
 }
 #dark-btn{
position:absolute;
  width:45px;
 
  border-radius: 15px;
  background: #ccc;
  top:20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
   
 
 }
 
 #dark-btn span{
  
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffff;
  display: inline-block;
 
 
 }

.search-icon a img{
  width: 10px;
}
#dark-btn.dark-theme{
 
  padding-left: 23px;
  background: #0a0a0a;
}


/* CSS styles for uploaded images */
.image-wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: stretch; /* Stretch items to fill the container */
  justify-content: space-between; /* Distribute space between items */
max-height: 550px;
}

 .commentDiv {
 max-width:100%;
  background: #fff;

 margin-top:20px;
 
display: none;

position: relative;
border: 0;
outline: 0;
align-items: center;
left: 0;
right: 0;
 margin-bottom: 10px;
 overflow: hidden;
}

.commentDiv.visible{
  display: block;
  transition: display 0.3s;
}
.textarea{
  width: 100%;
  border: 1px solid blue;
  padding: 20px;
  border: 0;
  outline: none;
  
  color: blue;
  
}
.video-container{
  display: flex;
margin-top: 20px;
  max-width: 50%;
}
.image-wrapper.epsilon-container{
 
  margin-top:0px;
  background: black;
  margin-right: 20px;
}
/* Style for the epsilon container */


/* Style for the epsilon icon */
 .span-style {
  padding: 20px; /* Adjust icon position */
  color: black;
  
}
.highlight{
  background:#ccc;
  transition: background 0.5s;
  display: block;
  border-radius: 3px;
}



/* Define styles for the epsilon icon */

.image-wrapper img {
  width: 100%; /* Ensure the image fills the container horizontally */
  height: 400px; /* Allow the image to maintain its aspect ratio */
  object-fit: cover;
  padding: 40px; /* Scale the image while preserving its aspect ratio */
}

/* CSS styles for action icons */
.image-actions {
  flex-shrink: 0; /* Prevent the action container from shrinking */
  padding: 5px; /* Add padding to the action container */
}


.image-actions i {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-right: 10px; /* Adjust spacing between icons */
  padding: 20px 20px 10px 10px;
  
}
.likescount{
 margin-left: 5px;
 margin-right: 15px;
 color:black;
 
}

.comments{
  
  margin-right: 15px;
  color:black;
 }

/* Example CSS for specific action icons */
.image-actions .far.fa-thumbs-up {
  color: #ccc; /* Blue color for like icon */
}
/* Define styles for the thumbs-up icon when liked */
.image-actions .liked.fa-thumbs-up {
  color: blue; /* Change the color to blue, adjust as needed */
  animation: zoomInOut 2s  alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.image-actions .far.fa-comment {
  color: #28a745; /* Green color for comment icon */
}

.image-actions .fas.fa-share {
  color: #dc3545; /* Red color for share icon */
}
#eventdates{
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  color: red;
  text-align: center;
  margin-top: 10px;
  padding: 5px;

}
/* CSS styles for selected dates (not directly applicable to date input) */
 .selected-date {
  background-color: blue;
  color: white;
}

.notification-container {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

.notification-img {
  /* Add any styling for the notification image */
  /* For example: */
  width: 30px;
  height: 30px;
}


@media only screen and (max-width: 576px) {
  /* Styles for devices up to 576px wide */
  /* Example: Adjust layout for smaller screens */
  .logo {
      /* Example: Reduce logo width */
      width: 120px;
  }
}


@media only screen and (max-width: 480px) {
  /* Styles for devices up to 480px wide */
  /* Example: Adjust layout for smartphones */
  .search-box {
      /* Example: Reduce search box width */
      width: 250px;
  }
}