*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #dadada;
}
/* Initially, no blur */
/* Initially, no blur */

  
  /* Exempt the .menu div from blurring */
  
   
  .menu-notvisible {
    opacity: 1.0;
    overflow-y:auto;
    /* Other styles for menu when visible */
}

 .menu-visible  {
    opacity: 0.2;
    overflow-y: hidden;
}

  
  
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131912;
    color: #fff;
    padding: 10px,20px;
}
.nav-country{
    display: flex;
    align-items: end;
    font-size: 13px;
    margin-left: 15px;
    color: #c4c4c4;
}
.nav-country h1{

    color: #fff;
    font-size: 14px;
}
.nav-search{
    flex: 1;
    display: flex;
    background-color: #fff;
    color: gray;
    margin-left: 15px;
    max-width: 1000px;
    border-radius: 4px;
}
.search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #e5e5e5;
    gap:5px ;
}
.nav-search-input{
    border:none;
    outline:none;
    padding: left 20px;
    width: 100%;

}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: #ffd64f;
    border-radius: 0 4px 4px 0;
}
.nav-language{
    display: flex;
    margin-left: 15px;
    gap: 2px;
    align-items: center;
    font-weight: 600px;
    
}
.nav-text p{
font-size: 10 px;

}
.nav-text h1{
    font-size: 14px;
}
.nav-carts{
    display: flex;
    align-items: center;
    margin-left: 0px 15px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap:20px;
    background-color: #232f3e;
    padding: 8px 20px;
    color: #fff;
    visibility: visible;


}
.nav-bottom div{
    display: flex;
    align-items: center;
   
    gap:5px;
    font-weight: 500px;


}
 .menu{
    display: flex;
    width: 26%;
    flex-direction: column;
    justify-content: space-between;
    
    background-color:white;
    margin-top: -40px;
    height: 700px;
    z-index: 200;
    position: absolute;
    
    overflow-y: auto;
    
    visibility: hidden;
}
.menu .message {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    
}
.menu .message span{
    padding-left: 5px;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
} 
.menu .message img{
    width:20%;
    padding-left:50px;
    padding-bottom: 20px;
    
    
}
#cancel{
    width:20%;
    opacity: 0.5;
    padding: 10px 0px 10px 60px;
    
    cursor: pointer;
    
    
}


 


.menu .col-1{
    background: white;
    border-radius: 3px;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    


}
.menu .col-2{
    background: white;
    border-radius: 3px;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    


}
.menu .col-3{
    background: white;
    border-radius: 3px;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    


}
.menu .col-4{
    background: white;
    border-radius: 3px;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    


}
.menu .col-5{
    background: white;
    border-radius: 3px;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    


}
.menu .col-1 .header{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.menu .col-2 .header{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.menu .col-3 .header{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.menu .col-4 .header{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.menu .col-5 .header{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.menu .message span{
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding-left: 50px;
    padding-top: 10px;
}
.menu .options p{
    color: black;
    padding:50px 80px 10px 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}
.menu .options p:hover,
.menu .options p:hover:active{
    background-color: grey;
    text-decoration: underline;
    color: white;
}
.header-slider ul{
    display: flex;
overflow-y: hidden;
}

.header-img{
    max-width:100% ;
    mask-image: linear-gradient(to bottom ,#000000 50%,transparent 100%);
}
.header-slider a{
    position: absolute;
    padding: 5vh 1vw;
    top: 20%;
    background:  #ffffff4f;
    color: #0000007b;
    font-weight: 600px;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-column{
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 24%;
    min-height: 2oopx;
    padding: 15px 20px;
    z-index: 1;
}
.box-column a{
    font-size: 13px;
    color: #009999;
    font-weight:500;

}
.header-box{
    margin-top: -20vw;
}
.product-slider{
    background: #fff;
    padding:20px;
    margin: 0 30px;
    margin-bottom: 15px;

}
.product-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}
.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
}
.product-slider .products::-webkit-scrollbar{
    display: none;
}
.footer{
    width: 100%;
    position: relative;
    background-color:#232f3e;
    
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    
    

    
    
}

.footer  .footer-box{
    height: 400px;
    width: 100%;
    
    border-color: #0309097f;
    border-bottom: 5px;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.footer  p{
    font-weight:500;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding:20px 30px 50px 20px
}
.footer  .footer-box .footer-row .header {
    font-weight: 700;
    font-size: 16px;
}
.footer .footer-box .footer-row2 .header {
    font-weight: 700;
    font-size: 16px;
}
.footer  .footer-box .footer-row2 a{
    cursor: pointer;
}
.footer  .footer-box .footer-row3 .header{
    font-weight: 700;
    font-size: 16px;
}
.footer .footer-box .footer-row3 a{
    cursor: pointer;
}

.footer  .footer-box .footer-row4 .header {
    font-weight: 700;
    font-size: 16px;
}
.footer .footer-box .footer-row4 a{
    cursor: pointer;
}


.footer  .footer-box .footer-row a p:hover,
.footer-row a p:active {
  /* Your styles for hover and active states go here */
  /* For example, changing text color */
  color:white;
  /* Or adding a background color */
  text-decoration: underline;
  /* Or any other styles you prefer */
}
.footer  .footer-box .footer-row2 a p:hover,
.footer-row2 a p:active {
  /* Your styles for hover and active states go here */
  /* For example, changing text color */
  color:white;
  text-decoration: underline;
  /* Or adding a background color */
  
  /* Or any other styles you prefer */
}
.footer .footer-box .footer-row3 a p:hover,
.footer-row3 a p:active {
  /* Your styles for hover and active states go here */
  /* For example, changing text color */
  color:white;
  text-decoration: underline;
  /* Or any other styles you prefer */
}
.footer .footer-box.footer-row4 a p:hover,
.footer-row4 a p:active {
  /* Your styles for hover and active states go here */
  /* For example, changing text color */
  color:white;
  text-decoration: underline;
  /* Or any other styles you prefer */
}
.footer .footer-img{
    margin-top: 100px;
    margin-left: 400px;
    

    
    
}
.footer  .footer-img img{
    width: 10%;
    
}
.footer  .footer-img .language-dropdown{
    width: 13%;
    margin-left: 300px;
    margin-top: -50px;
    border-radius: 3px;
    border-color: gray;
    display: flex;
    align-items: center;
    height: 40px;
    background-color:white;
}
footer  .footer-img .language-dropdown img{
    width: 15%;
    padding-left: 10px;
    
    
}
footer  .footer-img .language-dropdown p{
    padding: 18px;
    color:black;
}
footer  .footer-img .language-dropdown p img{
    width: 5px;
    padding-left: 10px;
}
                                        
footer  .footer-img .language-dropdown .language-options{
    display: flex;
    margin: 532px 0px 200px -120px;
    background-color:white;
    width: 120%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    visibility: hidden;
    border-radius: 5px;
    border-color:blue;
    b
    
    

    
}
footer  .footer-img .language-dropdown .language-options input[type="radio"] {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid black; /* Change this to the desired color */
    border-radius: 50%;
    accent-color: red;
    width: 20px;
    
    
}

footer  .footer-img .language-dropdown .language-options label{
    margin: 8px 0px 3px -5px;
    display: inline;
    cursor: pointer;
}
footer  .footer-img .language-dropdown .language-options label:hover,
footer  .footer-img .language-dropdown .language-options label:hover:active{
    text-decoration: underline;
    color: red;
}
/* Default styles */
/* Define your default styles here */

/* Media queries for different screen sizes */
/* Small devices (phones, 576px and up) */
@media (min-width: 640px) {
    /* Adjust styles for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Adjust styles for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
    /* Adjust styles for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1536px) {
    /* Adjust styles for extra large devices */
}



