label{
    width: 70px;
    height: 30px;
    border-radius: 30px;
    background-color: #ccc;
    position: absolute;

}

body{
background-color:white;
}

#toggle{
    left:10px;
    right:0;
bottom: 0;
opacity: 0;

}
label::before{
    content: "";
    width: 30px;
    height: 22px;
    border-radius:50%;
    background-color: black;
    position: absolute;
    top: 5px;
    transition: transform 300ms;

    

}
#toggle:checked + label::before{
    background-color:white;
    transform: translateX(30px);

}
#toggle:checked + label{
    background-color: black;
    
    
}
.changecolor{
    background-color: black;
}